/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



body {
    background: #ffffff;
	margin: 0;
	padding: 0;
        min-width: 700px;
        max-width: 1800px;
        
        
}

#pagina {
	margin: 0 auto;
	text-align: left;
	background-color: #FFF;
	width: 100%;
        
	}

.header-body {
	color: #FFFFFF;
	font: 15px "Bodoni MT Black", Helvetica, sans-serif;
	background: steelblue;
	height: 42px;
	width: 100%;
	position: relative;
	
}

.header-body .logo{
    width: 40px;
    position: absolute;
    top: 10px;
    left:  10px;
    font: 20px "Bodoni MT Black", Helvetica, sans-serif;
}

.header-body .login-box {
	top: 10px;
	position: absolute;
	right: 4px;
}



#conteudo {
   padding: 10px 0;
   width: 80%;
   min-height: 600px;
   position: relative;
   left: 10%;
   
}


#footer-body{
        padding: 10px 0;
	background-color: white;
	position: relative;
	clear: both;
}



/*
 *
 * Não estou usando este login
 *
 *
 #login-box {
 width: 300px;
 height: 300px;
 padding: 58px 26px 0 76px;
 color: #1E4F8A;
 font: 12px Arial, Helvetica, sans-serif;
 background: #CCCCCC;
 position: relative;
 top: -50px;
 left: 250px;
 }

 #login-box img {
 border: none;
 }

 #login-box h2 {
 padding: 0;
 margin: 0;
 color: #1E4F8A;
 font: bold 44px "Calibri", Arial;
 }

 #login-box-name {
 float: left;
 display: inline;
 width: 80px;
 text-align: right;
 padding: 14px 10px 0 0;
 margin: 0 0 7px 0;
 }

 #login-box-field {
 float: left;
 display: inline;
 width: 230px;
 margin: 0;
 margin: 0 0 7px 0;
 }

 .form-login {
 width: 205px;
 padding: 10px 4px 6px 3px;
 border: 1px solid #0d2c52;
 background-color: #1e4f8a;
 font-size: 16px;
 color: #ebebeb;
 }

 .login-box-options {
 clear: both;
 padding-left: 87px;
 font-size: 11px;
 }

 .login-box-options a {
 color: #ebebeb;
 font-size: 11px;
 }*/